.healthPoints {
    color: #ff5680;
}

.resourcePoints {
    color: #a1a1e5;
}

.heroClass1 {
    color: #c69b6d;
    font-weight: bold;
}

.heroClass2 {
    color: #f48cba;
    font-weight: bold;
}

.heroClass3 {
    color: #fff;
    font-weight: bold;
}

.heroClass4 {
    color: #fff468;
    font-weight: bold;
}

.heroClass5 {
    color: #fff;
    font-weight: bold;
}

.heroClass6 {
    color: #c41e3b;
    font-weight: bold;
}

.heroClass7 {
    color: #2359ff;
    font-weight: bold;
}

.heroClass8 {
    color: #68ccef;
    font-weight: bold;
}

.heroClass9 {
    color: #9382c9;
    font-weight: bold;
}

.heroClass10 {
    color: #fff;
    font-weight: bold;
}

.heroClass11 {
    color: #fff;
    font-weight: bold;
}

.heroClass12 {
    color: #a330c9;
    font-weight: bold;
}