<nb-card size="small" *ngFor="let champion of champions">
    <nb-card-header>{{ champion.name }}</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <div class="row alert">
                    <div class="col-6 col-md-6 text-left">
                        Class
                    </div>
                    <div [class]="'col-6 col-md-6 text-right heroClass' + champion.class">
                        {{ champion.className }}
                    </div>
                </div>

                <div class="row alert">
                    <div class="col-6 col-md-6 text-left">
                        Specialisation
                    </div>
                    <div class="col-6 col-md-6 text-right">
                        [SPEC]
                    </div>
                </div>

                <div class="row alert">
                    <div class="col-6 col-md-6 text-left">
                        Level
                    </div>
                    <div class="col-6 col-md-6 text-right">
                        {{ champion.level }}
                    </div>
                </div>

                <div class="row alert">
                    <div class="col-6 col-md-6 text-left">
                        Realm
                    </div>
                    <div class="col-6 col-md-6 text-right">
                        {{ champion.realm }}<br/>{{ champion.battlegroup }}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 text-center">
                HP, RESSOURCE, STATS
            </div>

            <div class="col-12 col-md-4 text-center">
                ITEMS
            </div>
        </div>
    </nb-card-body>
    <!--<nb-card-footer>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-rectangle btn-tn">Edit Champion</button>
                <button type="button" class="btn btn-primary btn-rectangle btn-tn">Update Champion</button>
                <button type="button" class="btn btn-danger btn-rectangle btn-tn">Delete Champion</button>
            </div>
        </div>
    </nb-card-footer>-->
</nb-card>

{{ champions | json }}


<!--
    <div class="row alert">
            <div class="col-6 text-left">
                Class
            </div>
            <div [class]="'col-6 text-right heroClass' + champion.class">
                {{ champion.className }}
            </div>
        </div>
        <div class="row alert">
            <div class="col-6 text-left">
                Specialisation
            </div>
            <div class="col-6 text-right">
                SPEC
            </div>
        </div>
        <div class="row alert">
            <div class="col-6 text-left">
                Level
            </div>
            <div class="col-6 text-right">
                {{ champion.level }}
            </div>
        </div>
        <div class="row alert">
            <div class="col-6 text-left">
                Health Points
            </div>
            <div class="col-6 text-right healthPoints">
                <span class="btn btn-danger btn-tn btn-rectangle">{{ champion.stats.health }}</span>
            </div>
        </div>
        <div class="row alert">
            <div class="col-6 text-left">
                Resource Points ( {{ champion.stats.powerType | titlecase }} )
            </div>
            <div class="col-6 text-right resourcePoints">
                <span class="btn btn-secondary btn-tn btn-rectangle">{{ champion.stats.power }}</span>
            </div>
        </div>
        <div class="row alert">
            <div class="col-6 text-left">
                Achievement Points
            </div>
            <div class="col-6 text-right resourcePoints">
                <span class="btn btn-secondary btn-tn btn-rectangle">{{ champion.achievementPoints }}</span>
            </div>
        </div>-->