<div class="row">
    <div class="col-xxxl-4">
        <nb-card [size]="'small'">
            <nb-card-header> Character List ({{ items.length }}) </nb-card-header>
        </nb-card>
    </div>

    <div class="col-xxxl-4">
        <nb-card [size]="'small'">
            <nb-card-header> Guild List (0) </nb-card-header>
        </nb-card>
    </div>

    <div class="col-xxxl-4">
        <nb-card [size]="'small'">
            <nb-card-header>  Realm Status </nb-card-header>
        </nb-card>
    </div>
</div>